html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #ffffff;
    --background-color: #2F303A;
    --background-color-user: #F5F4FA;
    --border-box-primary: #EEEEEE;
    --border-box-secondary: #ECECEC;
    --border-box-client: #AFB1B8;
    --url-link-hover: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: var(--primary-text-color);
    cursor: pointer
}

.page-header {
    height: 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    background-color: var(--primary-white-color);
    border-bottom: 1px solid var(--border-box-secondary);
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.container-nav {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.container-contacts {
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flex;
    align-items: baseline;
}


.container-main-nav { 
    display: flex;
    align-items: center;
}

.logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;

    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
    color: var(--accent-color);
}

.accent {
    color: var(--accent-color);
}

.site-nav-list {
    padding-left: 0;
    padding-right: 0;
    display: flex;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.site-nav-item {
    margin-right: 50px;
    position: relative;
}

.site-nav-item:last-child {
    margin-right: 0;
}

.contacts {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    display: flex;
    align-items: baseline;
    margin-left: auto;
}

.container-item + .container-item {
    margin-left: 40px;
}

.container-item {
    align-items: center;
}

.contacts-link:hover .contact-email,
.contacts-link:focus .contact-email {
    fill: var(--accent-color);
}

.contacts-link:hover .contact-phone,
.contacts-link:focus .contact-phone {
    fill: var(--accent-color);
}

.contact-email {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: var(--secondary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-email:hover {
    fill: var(--accent-color);
}

.contact-phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: var(--secondary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-phone:hover {
    fill: var(--accent-color);
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link {
    position: relative;
}

.nav-link::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    opacity: 0; 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

/* .nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
} */

.nav-link.current::after {
    opacity: 1;
 } 


.site-nav-list .nav-link:hover,
.site-nav-list .nav-link:focus {
    color: var(--accent-color)
}   

.site-nav-list .nav-link.current{
    color: var(--accent-color)
}

.contacts .contacts-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container-item .contacts-link:hover,
.container-item .contacts-link:focus {
    color: var(--accent-color);
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

/* Hero */

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--background-color);

    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, 
    rgba(47, 48, 58, 0.40),
    rgba(47, 48, 58, 0.40)) 
    , url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 696px;
   
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

/* button */

button {
    border-radius: 4px;
    padding: 10px 24px;
    text-align: center;

    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--primary-white-color);
    background-color: var(--accent-color);

    border: 1px solid transparent;
}

.features-section-title{
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

.features-list  {
    padding-left: 0;
    display: flex;
    color: var(--primary-text-color);
}

.features-item {
    margin-right: 30px;
    width: 270px;
    fill: var(--secondary-text-color);
}

.features-item:last-child {
    margin-right: 0px;
}

.features-box-icon {
    display: flex;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-color: var(--background-color-user);
}

.button-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

.title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color)
}

.features {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

/* Works*/

.work-list-item {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.item {
    margin-right: 30px;
}

.item:last-child {
    margin-right: 0px;
}

.thumb {
    position: relative;
}

.work-description{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    min-height: 70px;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
}

.text-description {
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    color: var(--primary-white-color);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-image {
    margin-top: 0;
    margin-bottom: 0;
}

.section-team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-color-user)
}

.list-team {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.item-team {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    min-height: 428px;
}

.item-team:last-child {
    margin-right: 0px;
}

.section-work {
    padding-top: 0;
    padding-bottom: 94px;
}

img {
    display: block;
}

.user-block{
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.user-url-list {
    padding-left: 25px;
    padding-right: 25px;
}

.list-pading {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links-li {
    margin-right: 10px;
}

.links-li:last-child {
    margin-right: 0;
}

.links-item {
    width: 20px;
    height: 20px;
    fill: var(--border-box-client);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.links:hover .links-item,
.links:focus .links-item {
    fill: var(--primary-white-color);
}

.links:hover, 
.links:focus {
    background-color: var(--accent-color);
}

.user {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color)
}

.user-profession {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.clients-section-title {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 1.08px;
    color: var(--primary-text-color)
}

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-list {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.clients-li {
    display: flex;
    justify-content: center;
}

.clients-li:not(:last-child) {
    margin-right: 30px;
}
     
.clients-item {
    align-items: center;
    width: 106px;
    height: 60px;
    fill: var(--border-box-client);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    width: 170px;
    height: 92px;
    border: 1px solid var(--border-box-client);
    border-radius: 4px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-links:hover .clients-item,
.clients-links:focus .clients-item {
    fill: var(--accent-color);
}

.clients-links:hover,
.clients-links:focus {
    border: 1px solid var(--accent-color)
}
/* footer */

footer {
    font-style: normal;
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color)
}

.footer-url {
    margin-left: 70px;
    margin-right: 93px;
}

.footer-url-title {
    margin-top: 0;
    margin-bottom: 20px;
    padding-left: 0;
    text-align: left;

    color: var(--primary-white-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.42px;
}

.footer-box {
    margin-right: auto;
}

.footer-list {
    display: flex;
    padding-left: 0;
}

.footer-item {
    margin-right: 10px;
}

.footer-item:last-child {
    margin-right: 0;
}

.footer-a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-svg {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
}

.footer-a:hover,
.footer-a:focus {
    background-color: var(--url-link-hover);
}

/* footer logo */

.footer-logo {
    display: inline-block;
    margin-bottom : 28px;
    font-family: 'Raleway',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo:hover {
    color: var(--accent-color);
}

.footer-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover ,
.footer-link:focus {
    color: var(--accent-color);
}

.footer-link > p {
    margin-top: 0;
    margin-bottom: 12px;
}

.form-padding {
    width: 528px;
    padding: 40px 40px;
}

.subcribe {
    margin-left: auto;
}

.subcribe-title {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: var(--primary-white-color);

    margin-top: 0;
    margin-bottom: 20px;
}

.subcribe-form {
    display: block;
    align-items: center;
}

.form-input {
    width: 358px;
    height: 50px;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;

    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1,25;
    letter-spacing: 0.48px;
}


.subcribe-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    height: 50px;
    padding: 10px 28px;

    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: var(--primary-white-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1,88;
    letter-spacing: 0.96px;
}

.subcribe-text {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 10px;
}

.send-btn {
    fill: var(--primary-white-color);
    margin-left: 10px;
}

.modal-title {
    margin-top: 0;
    margin-bottom: 12px;

    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.modal-form {
    margin-bottom: 10px;
}

.label {
    display: block;
    margin-bottom: 4px;

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.12px;
    color: var(--secondary-text-color);
}

.form-field {
    position: relative;
}

.form-field:focus-within > .modal-icon {
    fill: var(--accent-color);
}

.form-field:focus-within > .input {
    border: 1px solid var(--accent-color);
    outline: 0;
}

.input {
    display: inline-block;
    width: 448px;
    height: 40px;

    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    position: absolute;
    top: 50%;
    left: 12px;

    transform: translateY(-50%);

    display: inline-block;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
    margin-bottom: 20px;
}

.form-field:focus-within >.feedback {
    outline: 0;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}


.feedback {
    width: 448px;
    height: 120px;

    padding: 12px 16px;

    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.12px;

    resize: none;

    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);

    transition-property: border, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.check-box {
    margin-bottom: 30px;
}

.check-box a {
    color: var(--accent-color);
}
.check-box label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}

.accent-modal-text {
    color: var(--accent-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
}

.checkbox {
    appearance: none;
    width: 16px;
    height: 15px;
    margin-right: 7px;
    outline: 2px solid transparent;
    outline-offset: -2px;
    border: 2px solid var(--primary-text-color);
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 0;
    background-image: url(../images/icon-check.svg);
    transition: background-size 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.checkbox:checked {
    outline-color: var(--accent-color);
    background-color: var(--accent-color);
    background-size: 11px 8px;
    background-size: contain;
    border-color: transparent;
}


.checkbox-label:focus-within > .checkbox {
    border: 2px solid var(--accent-color);
    outline: 0;
}

.checkbox-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.icon-check {
    margin-right: 7px;

    border: 2px solid var(--primary-white-color);
    border-radius: 2px;

    transition-property: border-color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .icon-check {
    background-color: var(--accent-color);
    border-color: transparent;
}

.form-btn {
    display: flex;
    align-items: center;

    width: 200px;
    height: 50px;

    padding: 10px 52px;
    margin-left: auto;
    margin-right: auto;
    
    border-radius: 4px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: var(--primary-white-color);
    text-align: center;

    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.96px;
}


/* Portfolio */

.projects-examples {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.example-list-title {
    margin-top: 0;
    margin-bottom: 0;
}

.example-list {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.filter-list {
    display: flex;
    padding-left: 0;
    margin-bottom: 50px;
    justify-content: center
}

.filter-item {
    margin-right: 8px;
}

.filter-item:last-child {
    margin-right: 0px;
}

.flex-element {
    margin-right: 30px;
    margin-bottom: 30px;
    background-color: var(--primary-white-color);
}

.flex-element:nth-child(3n) {
    margin-right: 0;
}

.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.flex-a {
    display: inline-block;
    fill: var(--border-box-client);
    width: 370px;
    height: 404px;
    border: 1px solid var(--border-box-primary);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.flex-a:hover .example-description,
.flex-a:focus .example-description {
    transform: translateY(0);
}

.flex-a:hover,
.flex-a:focus {
    border: 1px solid var(--border-box-primary);
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.filter-button {
    border-radius: 4px;
    padding: 6px 22px;
    text-align: center;
    min-width: 67px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: var(--background-color-user);

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.info-block {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}
.exmpl-thumb {
    position: relative;
    overflow: hidden;
}

.example-description {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    width: 100%;
    height: 100%;

    padding: 63px 24px;
    align-items: center;

    color: var(--primary-white-color);
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.example-text {
    margin: 0;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
    color: var(--primary-white-color);
}

.example-title {
    margin-top: 0;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color)
}

.example-object {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color)
}

a {
    text-decoration: none;
}

.address-item {
    margin-top: 0;
    margin-bottom: 12px;
}

.address-item:last-child {
    margin-bottom: 0px;
}

.projects-title {
    margin-top: 0;
    margin-bottom: 0;
}

/* backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    opacity: 1;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;

    border-radius: 4px;
    background: var(--primary-white-color);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    
    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;

    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--primary-white-color);

    fill: #000;;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    fill: var(--accent-color); 
}