.check-box {
    margin-bottom: 30px;
}

.check-box a {
    color: var(--accent-color);
}

.check-box label {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}