.contacts-list {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    display: flex;
    align-items: baseline;
    margin-left: auto;
}

.contacts-list__item+.contacts-list__item {
    margin-left: 40px;
}

.contacts-list__item {
    align-items: center;
}

.contacts-list__link:hover .contacts-list__email,
.contacts-list__link:focus .contacts-list__email {
    fill: var(--accent-color);
}

.contacts-list__link:hover .contacts-list__phone,
.contacts-list__link:focus .contacts-list__phone {
    fill: var(--accent-color);
}

.contacts-list__email {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: var(--secondary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__email:hover {
    fill: var(--accent-color);
}

.contacts-list__phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: var(--secondary-text-color);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list__phone:hover {
    fill: var(--accent-color);
}